################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeadsFullStack.API/appsettings.json
/LeadsFullStack.Application/Properties/launchSettings.json
/LeadsFullStack.Application/appsettings.json
/LeadsFullStack.Client/package.json
